html {
    overflow-y: auto;
}
.v-main {
    margin-right: 20px;
}

.Poppins {
    font-family: 'Poppins', sans-serif !important;
  }

.page-wrapper {
    min-height: calc(100vh - 100px);
    padding: 15px;
    border-radius: 12px;
    background: #eef2f6;
}

/* button */
.v-btn.bg-lightsecondary:hover, .v-btn.bg-lightsecondary:active, .v-btn.bg-lightsecondary:focus {
    background-color: #5e35b1 !important;
    color: white !important;
}

.v-btn {
    text-transform: capitalize;
    letter-spacing: 0;
}

.v-btn--icon.v-btn--density-default {
    width: calc(10px + 6px);
    height: calc(10px + 6px);
}

/* scrollbar sidebar */
.leftSidebar {
    border: 0px;
    box-shadow: none !important;
}
.leftSidebar .logo {
    padding-left: 7px;
}

.scrollnavbar {
    height: calc(100vh - 100px);

}
.scrollnavbar .smallCap {
    padding: 0px 0 0 4px !important;
    font-size: 0.875rem;
    font-weight: 500;
}
.scrollnavbar .v-list {
    color: #616161;
}
.scrollnavbar .v-list-group__items .v-list-item, .scrollnavbar .v-list-item {
    border-radius: 12px !important;
    padding-inline-start: calc(12px + var(--indent-padding) / 2) !important;
    margin-bottom: 10px;
}
.scrollnavbar .v-list-group__items .v-list-item:hover, .scrollnavbar .v-list-item:hover {
    color: #5e35b1;    
}
.scrollnavbar .v-list-group__items .v-list-item .v-list-item__prepend, .scrollnavbar .v-list-item .v-list-item__prepend {
    margin-inline-end: 13px;
}
.scrollnavbar .v-list-group__items .v-list-item .v-list-item__append, .scrollnavbar .v-list-item .v-list-item__append {
    font-size: 0.875rem;
}
.scrollnavbar .v-list-group__items .v-list-item .v-list-item__append .v-icon, .scrollnavbar .v-list-item .v-list-item__append .v-icon {
    margin-inline-start: 13px;
}
.scrollnavbar .v-list-group__items .v-list-item .v-list-item-title, .scrollnavbar .v-list-item .v-list-item-title {
    font-size: 0.875rem;
}
.scrollnavbar .leftPadding {
    margin-left: 4px;
}
.scrollnavbar .v-list .v-list-item--active .v-list-item-title {
    font-weight: 500;
}
.scrollnavbar .v-list .sidebarchip .v-icon {
    margin-inline-start: -3px;
}
.scrollnavbar .v-list .v-list-group .v-list-item:hover > .v-list-item__overlay, .scrollnavbar .v-list .v-list-group .v-list-item--active > .v-list-item__overlay {
    background-color: transparent;
}
.scrollnavbar .v-list .v-list-group .v-list-item:focus-visible > .v-list-item__overlay {
    opacity: 0;
}
.scrollnavbar .v-list > .v-list-group {
    position: relative;
}
.scrollnavbar .v-list > .v-list-group > .v-list-item--active, .scrollnavbar .v-list > .v-list-group > .v-list-item:hover {
    background: rgba(94, 53, 177, 0.05);
}
.scrollnavbar .v-list > .v-list-group:after {
    content: '';
    position: absolute;
    left: 21px;
    top: 46px;
    height: calc(100% - 46px);
    width: 1px;
    opacity: 1;
    background: rgba(30, 136, 229, 0.15);
}


.v-navigation-drawer--rail .scrollnavbar .v-list .v-list-group__items, .v-navigation-drawer--rail .hide-menu {
    opacity: 0;
}
.v-navigation-drawer--rail .leftPadding {
    margin-left: 0px;
}

.v-navigation-drawer__scrim.fade-transition-leave-to {
    display: none;
  }


/* general */
.darkText {
    color: #212121;
}

.gray-text {
    color: #888888;
}

.box-shadow {
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.2) !important;
}

.border-radius {
    border-radius: 12px !important;
}

.bg-lightprimary {
    background-color: #eef2f6;
}

@media (max-width: 1279px) {
    .v-main {
        margin: 0 10px;
   }
}
.spacer {
    padding: 100px 0;
}
@media (max-width: 800px) {
    .spacer {
        padding: 40px 0;
   }
}